@import "src/styleguide/index";
.login-container {
  padding: 20px;
}
h4 {
  font-weight: 500;
}
.form-container {
  padding: 20px 75px;
}
button {
  @include ae-button;
  font-size: 14px !important;
  margin-bottom: 10px;
}
span.login {
  color: $color-primary-1;
  cursor: pointer;
}
.info {
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 14px;
  text-align: center;
}
:host ::ng-deep {
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
  }
  .mat-form-field {
    width: 100%;
  }
  .mat-card {
    height: 315px;
    width: 345px;
    padding: 30px 50px;
  }
}