<div fxFlexFill>
  <div class="contents" fxFlex>
    <app-topnav *ngIf="isLoggedIn" (ToggleLeftSideNav)="handleLeftToggleValue($event)"
      (ToggleRightSideNav)="handRightToggleValue($event)">
    </app-topnav>
    <mat-drawer-container class="container" autosize>
      <div fxLayout="row" fxLayoutAlign="start center">
        <ng-container *ngIf="isLoggedIn">
          <div *ngIf="leftToggleSideNav" [fxFlex]="leftToggleSideNav === true ? '240px' : 0">
            <mat-sidenav #sidenav mode="side" [opened]="leftToggleSideNav">
              <mat-nav-list>
                <a routerLink="/home" [routerLinkActive]="['is-active']" mat-list-item>Home</a>
                <a routerLink="/page1" [routerLinkActive]="['is-active']" mat-list-item>Page1</a>
                <a routerLink="/information" [routerLinkActive]="['is-active']" mat-list-item>Information</a>
              </mat-nav-list>
              <cdk-accordion class="accordion">
                <cdk-accordion-item *ngFor="let item of items; let index = index;" #accordionItem="cdkAccordionItem"
                  role="button" tabindex="0">
                  <div class="accordion-item-header" (click)="accordionItem.toggle()">
                    <mat-nav-list>
                      <div class="noselect" [ngClass]="{'expanded': accordionItem.expanded}" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <a mat-list-item>
                          <span fxFlex="90">{{ item }}</span>
                          <mat-icon *ngIf="!accordionItem.expanded">expand_less</mat-icon>
                          <mat-icon *ngIf="accordionItem.expanded">expand_more</mat-icon>
                        </a>
                      </div>
                    </mat-nav-list>
                  </div>
                  <div class="accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
                    [attr.id]="'accordion-body-' + index" [attr.aria-labelledby]="'accordion-header-' + index">
                    <mat-nav-list>
                      <a routerLink="/login" [routerLinkActive]="['is-active']" (click)="gotoLoginPage()" mat-list-item>Login</a>
                      <a routerLink="/register" [routerLinkActive]="['is-active']" mat-list-item>Registration</a>
                      <a routerLink="/forgot-password" [routerLinkActive]="['is-active']" mat-list-item>ForgotPassword</a>
                    </mat-nav-list>
                  </div>
                </cdk-accordion-item>
              </cdk-accordion>
            </mat-sidenav>
          </div>
        </ng-container>

        <div fxFlex class="router-outlet">
          <router-outlet></router-outlet>
        </div>

        <ng-container *ngIf="isLoggedIn">
          <mat-sidenav #sidenavRight mode="side" position="end" [opened]="rightToggleSideNav" class="sidenav">
            <section class="section">
              <ng-container *ngFor="let color of themeColors; let i = index;">
                <mat-checkbox name="opts" (change)="setTheme(color, i)" [checked]="selectedColor === i" [ngClass]="color">{{color}}</mat-checkbox>
              </ng-container>
            </section>
          </mat-sidenav>
        </ng-container>
      </div>
    </mat-drawer-container>
  </div>
</div>