
$color-white-1: #ffffff;
$color-primary-1: #2196f3;
$color-blue-1: #000048;
$color-gray-1: #cccccc;
$color-gray-2: #dddddd;
$color-gray-3: #eeeeee;
$color-black-1: #333333;
$color-black-2: #444444;
$color-black-3: #666666;
$color-black-4: #888888;
$color-red-1: #fc4b6c;
$color-teal-1: #00897b;
$color-blue-1: #1e88e5;
$color-dark-1: #8999a0;